<div class="{{div_class}}">
    <div class="img_box">
    <img class="img-100" src="https://ws.srl.tw/product_html/{{case_id}}/img/{{com_img}}" alt="">
    </div>
    <div class="txt_box">
        <h3>{{index_num}} {{anchor_name}}</h3>
        <p>{{yesterday}}</p>
        <div class="dt">
            <span>人數瀏覽比｜瀏覽人數：</span>
            <span class="cut_num">{{yesterday_avg_data}}%｜{{yesterday_data}}人</span>
        </div>
        <div class="an_box">
        <canvas class="mixChart" id="{{chart_id}}{{index_num}}"></canvas>
        </div>
    </div>
</div>